*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: k2d;
    color: black;
}

html, body, .wrapper{
    height: 100%;
    margin:0;
}
.wrapper{
    background-image: url(IMG/pexels-pixabay-531829.jpg); 
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50%;
}
.header{
    background-color: black;
    min-height: 80px;
    max-width: 100vw;
    position: sticky;
    top:0;
    padding: 10px;
}
.headcontent{
    display: flex;
    align-content: center;
    margin-left: 15px;
}
#logo{
    width: 100%;
    min-width: 60px;
    max-width: 60px;
    margin-right: 20px;
}
.logoname{
    color: white;
    padding-top: 10px;
    font-family: langar;
    font-size: 35px;
}

#info{
    width: 100%;
    min-width: 40px;
    max-width: 40px;
    margin: 15px 15px 0 0 ;
    display: flex;
    float: right;
}

.side{
    display: flex;
    flex-direction: column;
    position: sticky;
    float: right;
    height: calc(100vh - 100px);
    background-color: #ECDAC780;
    min-width: 530px;
    backdrop-filter: blur(70px);
    padding: 30px;
}

.forms{
    margin: 0 0 80px 0;
}

.login{
    padding:10px 10px 0 0;
}

.forgot{
    margin:0 0 390px 35px ;
}

input{
    display: block;
    margin:10px auto ;
    border-radius: 5px ;
    border: none;
}
.inpt{
    margin-bottom: 35px;
}

input[type="text"]:focus{
    outline:none;
}

input[type="text"]{
    font-size:20px;
    padding:10px;
    width:450px;
    height: 50px;
    margin-top: 25px;
    background-color: #F6E9D9;
    box-shadow: inset #010200 5px 11px 10px -12px;
}

input[type="button"]{
    font-size:25px;
    padding:5px;
    width:450px;
    height: 50px;
    margin-top: 12px;
}

#log{
    background-color: #B96F4F;
}

#sign{
    background-color: #697A8F;
}

.line{
    border-bottom:2px solid black;
}
.footercontainer{
    margin-top: auto;
    display: flex;
    flex-direction: column;
}
footer{
    display: flex;
    flex-wrap: wrap;
    /* Allows items to wrap to the next line */
    gap: 5px;
    max-width: 530px;
    margin-top: 10px;
}

footer a{
    margin-top: 10px;
    flex: 1 1 40%;
    /* Adjusts the width of each item */
    text-decoration: none;
    
}

a{
    font-size: 18px;
}

